# Documentation

# Spinx related
sphinx
breathe
myst-parser

# Doxygen related
doxypypy


sphinx-markdown-tables
sphinx-markdown-builder
sphinx-autobuild
sphinx-issues
ghp-import
git+https://github.com/Hecatron-Forks/sphinxbootstrap4theme
pypandoc
